<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Main configuration file -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="check_nullability">true</property>
        <property name="hbm2ddl.auto">validate</property>
        <!--        <property name="show_sql">true</property>-->
        <!--        <property name="format_sql">true</property>-->

        <mapping class="pja.kociespa.model.Person"/>
        <mapping class="pja.kociespa.model.Customer"/>
        <mapping class="pja.kociespa.model.Employee"/>
        <mapping class="pja.kociespa.model.Caretaker"/>
        <mapping class="pja.kociespa.model.Receptionist"/>
        <mapping class="pja.kociespa.model.Behaviorist"/>
        <mapping class="pja.kociespa.model.Stay"/>
        <mapping class="pja.kociespa.model.Cat"/>
        <mapping class="pja.kociespa.model.Treatment"/>
        <mapping class="pja.kociespa.model.Certificate"/>
        <mapping class="pja.kociespa.model.Specialization"/>
        <mapping class="pja.kociespa.model.PersonalBelonging"/>
        <mapping class="pja.kociespa.model.Toy"/>
        <mapping class="pja.kociespa.model.Medicine"/>

    </session-factory>
</hibernate-configuration>